{
    "db": {
        "host": "",
        "user": "",
        "pass": "",
        "name": ""
    },
    "api": {
        "baseUrl": ""
    },
    "view": {
        "baseUrl": ""
    },
    "contact": {
        "email": "",
        "phone": ""
    },
    "notify": {
        "from": "",
        "recipients": ""
    },
    "twilio": {
        "accountSid": "",
        "authToken": ""
        "from": "",
        "to": ""
    },
    "ga": {
        "trackingId": ""
    }
}
