{
    "db": {
        "host": "",
        "user": "",
        "pass": "",
        "name": ""
    },
    "api": {
        "baseUrl": ""
    },
    "contact": {
        "email": "",
        "phone": ""
    }
}
